@use 'variables';
#masterplan{
    padding-top: 0;
    h2{
        font-size: 1.8vw;
        color: variables.$verde-oscuro;
    }
    .loteo{
        width: 90%;
        margin: 0 auto;
        display: block;
        margin-top: 60px;
    }

    iframe{
        margin-top: 40px;
        width: 100%;
        min-height: 600px;
        height: 60vh;
    }
    
}
@media screen and (max-width: 991px) {
    #masterplan{
        h2{
            font-size: 22px;
        }
        p{
            font-size: 14px;
        }
    }
}