@import url(../fonts/stylesheet.css);
//colores
$verde-claro-fondo: #f3f7ed;
$verde-claro-bordes: #8cc269;
$verde-oscuro: #0d3b23;
$verde-chillon: #3AB0B0;
$blanco: #fff;
$parrafos: #1d1d1b;
$titulos: #4d4d4d;
$morado: #551949;
//fuentes
$fuente: 'Gilroy';
$fw_100: 100;
$fw_200: 200;
$fw_300: 300;
$fw_500: 500;
$fw_600: 600;
$fw_900: 900;
$fw_normal: normal;
$fw_bold: bold;